<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<!--<head th:replace="fragments :: head"></head>-->
<h1>All Events</h1>
<body>
<nav th:replace="fragments :: navigation"></nav>
<p th:unless="${events} and ${events.size()}"> No Events!</p>
<table>
    <tr>
    <th>Event</th><th>Description</th><th>Address</th></tr>
    <tr th:each="event : ${events}">
        <td th:text="${event.key}"></td>
        <td th:text="${event.value}"></td>
    </tr><tr>
        <td th:replace="fragments :: address"></td>
    </tr>

</table>
</body>
</html>